<%= form_for @survey do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :survey_title %>
  </div>

    <%= form.fields_for :questions do |question| %>
      <%= render 'question_fields', f: question  %>
    <% end %>
    <br />
    <br />
    <%= link_to_add_fields "Add Question", form, :questions %>
    <br />
    <br />



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
